extends layout


block content
  nav.nav
    a(href="/").nav__button   
      p.square
        p.circle
    ul.recipes.navigation__list.navigation__list--js 
      li.navigation__item
        a.navigation__link(href="/") Add recipe
      li.navigation__item
        a.navigation__link(href="/") Sample 1   
      li.navigation__item
        a.navigation__link(href="/") Sample 2
      li.navigation__item
        a.navigation__link(href="/") Sample 3     
  button(aria-label="otwórz menu").navigation__switcher.navigation__switcher--js ≡
  div.head
    h1 Latest recipes
    img(src="/images/Caesar_salad.png", alt="").img1
    img(src="/images/Recipe_1.png", alt="").img2
    img(src="/images/Recipe_2.png", alt="").img3
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente rem ex exercitationem adipisci asperiores dicta error voluptatum eos ut illo harum amet excepturi laudantium distinctio ratione id, aperiam quas nemo.
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, delectus sunt! Ea sed perspiciatis fugit fugiat. Numquam, nostrum! Delectus laborum quia, consequuntur dolore vero repellat voluptas optio cupiditate! Iste, quam?
    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore libero, nulla sint officiis consequuntur quisquam debitis quidem quaerat soluta, consectetur odio earum nobis! Velit aliquam at veniam temporibus quos! Fugit.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptate veritatis quisquam quaerat sit, a maiores libero dolorum consectetur excepturi asperiores. Voluptatem cumque laboriosam similique illo. Aspernatur doloribus fugiat voluptatum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptate veritatis quisquam quaerat sit, a maiores libero dolorum consectetur excepturi asperiores. Voluptatem cumque laboriosam similique illo. Aspernatur doloribus fugiat voluptatum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptate veritatis quisquam quaerat sit, a maiores libero dolorum consectetur excepturi asperiores. Voluptatem cumque laboriosam similique illo. Aspernatur doloribus fugiat voluptatum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptate veritatis quisquam quaerat sit, a maiores libero dolorum consectetur excepturi asperiores. Voluptatem cumque laboriosam similique illo. Aspernatur doloribus fugiat voluptatum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptate veritatis quisquam quaerat sit, a maiores libero dolorum consectetur excepturi asperiores. Voluptatem cumque laboriosam similique illo. Aspernatur doloribus fugiat voluptatum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptate veritatis quisquam quaerat sit, a maiores libero dolorum consectetur excepturi asperiores. Voluptatem cumque laboriosam similique illo. Aspernatur doloribus fugiat voluptatum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptate veritatis quisquam quaerat sit, a maiores libero dolorum consectetur excepturi asperiores. Voluptatem cumque laboriosam similique illo. Aspernatur doloribus fugiat voluptatum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptate veritatis quisquam quaerat sit, a maiores libero dolorum consectetur excepturi asperiores. Voluptatem cumque laboriosam similique illo. Aspernatur doloribus fugiat voluptatum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptate veritatis quisquam quaerat sit, a maiores libero dolorum consectetur excepturi asperiores. Voluptatem cumque laboriosam similique illo. Aspernatur doloribus fugiat voluptatum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptate veritatis quisquam quaerat sit, a maiores libero dolorum consectetur excepturi asperiores. Voluptatem cumque laboriosam similique illo. Aspernatur doloribus fugiat voluptatum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptate veritatis quisquam quaerat sit, a maiores libero dolorum consectetur excepturi asperiores. Voluptatem cumque laboriosam similique illo. Aspernatur doloribus fugiat voluptatum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptate veritatis quisquam quaerat sit, a maiores libero dolorum consectetur excepturi asperiores. Voluptatem cumque laboriosam similique illo. Aspernatur doloribus fugiat voluptatum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptate veritatis quisquam quaerat sit, a maiores libero dolorum consectetur excepturi asperiores. Voluptatem cumque laboriosam similique illo. Aspernatur doloribus fugiat voluptatum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptate veritatis quisquam quaerat sit, a maiores libero dolorum consectetur excepturi asperiores. Voluptatem cumque laboriosam similique illo. Aspernatur doloribus fugiat voluptatum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptate veritatis quisquam quaerat sit, a maiores libero dolorum consectetur excepturi asperiores. Voluptatem cumque laboriosam similique illo. Aspernatur doloribus fugiat voluptatum.
  script(src="/javascripts/style.js")